#contenido{
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
}

#cabecera {
	padding: 35px 40px;
	border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #5b7989;
}


h1 {
  color: white;
}

h1 nav{
  float: right;
  margin-right: 40px;
}

a{
  font-size: 0.7em;
  color: white;
}

#contenedor1{
  padding: 35px 40px;
  background-color: #82c3a6;
}

#central img{
  width: 100%;
  max-width: 600px;
  display: block;
  margin: auto;
  box-shadow: 2px 2px #02010a;
}

#contenedor2{
  padding: 35px 40px;
  background-color: #d5c75f;
  border: 1px;
  display: flex;
  flex-direction: row;
}

#contenedor2 img{
  width: 80%;
  max-width: 300px;
  margin: auto;
  box-shadow: 2px 2px #02010a;
}

#izquierda{
  float: left;
  order: 1;
}

#derecha{
  float: right;
  order: 2;
}
