#contenido{
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
}

body img{
  box-shadow: 2px 2px #02010a;
}

#cabecera {
	padding: 35px 40px;
	border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #5b7989;
}


h1 {
  color: white;
}

h1 nav{
  float: right;
  margin-right: 40px;
}

h1 a{
  font-size: 0.7em;
  color: white;
}

#contenedor1{
  padding: 35px 40px;
  background-color: #82c3a6;
}

#central img{
  width: 100%;
  max-width: 600px;
  display: block;
  margin: auto;
}

#contenedor2{
  padding: 35px 40px;
  background-color: #d5c75f;
  border: 1px;
  display: flex;
  flex-direction: row;
}

#contenedor2 img{
  width: 90%;
  height: 90%;
  max-width: 900px;
  max-height: 900px;
  margin: 0 auto;
  display: block;
}

figcaption{
  text-align: center;
  font-size: 1.5em;
  text-decoration: underline;
}

.izquierda{
  order: 1;
}

.derecha{
  order: 2;
}

#galeria{
  padding: 35px 40px;
  background-color: #d5c75f;
  display: flex;
  flex-direction: row;
}

#galeria img{
  width: 90%;
  height: 90%;
  width: 250px;
  height: 200px;
  margin: 0.8em 0.5em;
  display: block;
  padding-left: 0;
}

/*FOOTER*/
#pie{
  padding: 35px 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color:  #C6d5c5;
  display: flex;
  flex-direction: row;
}

#pie div{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: block;
  font-size: 1.3em;
}

.contacto{
  font-size: 1.2em;
  order: 1;
}

.termino{
  font-size: 1.2em;
  order: 2;
}

.sociales{
  font-size: 1.2em;
  order: 3;
}

.derecho{
  font-size: 1.2em;
  order: 4;
}

ul{
  list-style: none;
  font-size: 1em;
  padding-left: 0;
  padding-right: 10px;
}

ul a{
  color: black;
}
