/*DIMENSIONES DE LA PAGINA*/
#contenido{
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
/*DIFERENTES TAMANOS PARA DESKTOP Y MOVIL*/
@media (min-width:720px) {
  #contenido{
    min-width: 900px;
  }
}

@media (max-width:420px) {
  #contenido{
    max-width: 899px;
  }
}
/*COLOR DE FONDO Y TIPOGRAFIA*/
body{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
}
/*SOMBRA DE LAS IMAGENES*/
body img{
  box-shadow: 2px 2px #02010a;
}
/*COLOR DE CABECERA, BORDES, PADDING*/
#cabecera {
	padding: 5% 8%;
	border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #5b7989;
}
/*COLOR Y SOMBRA DEL NOMBRE DEL SITIO*/
h1 {
  color: white;
  text-shadow: 2px 2px #02010a;
}
/*NAVEGADOR DEL SITIO*/
h1 nav{
  float: right;
  margin-right: 40px;
}
/*TAMANO Y COLOR DEL NAVEGADOR DEL SITIO*/
h1 a{
  font-size: 0.7em;
  color: white;
}
/*CONTENEDOR IMAGEN CENTRAL*/
#contenedor1{
  padding: 5% 8%;
  background-color: #82c3a6;
}
/*DIMENSION DE LA IMAGEN CENTRAL*/
.central img{
  width: 80%;
  display: block;
  margin: auto;
}


#contenedor2{
  padding: 5% 8%;
  background-color: #d5c75f;
  border: 1px;
  display: flex;
  display: -webkit-flex;
  flex: column;
  -webkit-flex: column;
}

section [class*="bloque"]{
  min-height: 200px;
  flex: 1 2 60%;
}

.bloque1 img{
  display: block;
  margin: auto;
  width: 80%;
  order: 1;
}

.bloque2 img{
  display: block;
  margin: auto;
  width: 80%;
  order: 2;
}

figcaption{
  text-align: center;
  font-size: 1.5em;
  text-decoration: underline;
}
/*Visualizacion movil*/
@media all and (max-width: 420px) {
  #contenedor2{
    flex-direction: column;
    -webkit-flex-direction: column;
  }
}

/*diseno de las galerias*/
#galeria{
  padding: 35px 40px;
  background-color: #d5c75f;
  display: flex;
  flex-direction: row;
}

#galeria img{
  width: 90%;
  height: 90%;
  width: 250px;
  height: 200px;
  margin: 0.8em 0.5em;
  display: block;
  padding-left: 0;
}

/*FOOTER*/
#pie{
  padding: 35px 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color:  #C6d5c5;
  display: flex;
  flex-direction: row;
}

#pie div{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: block;
  font-size: 1.3em;
}

#contacto{
  font-size: 1.2em;
  order: 1;
}

#termino{
  font-size: 1.2em;
  order: 2;
}

#sociales{
  font-size: 1.2em;
  order: 3;
}

#derecho{
  font-size: 1.2em;
  order: 4;
}

ul{
  list-style: none;
  font-size: 1em;
  padding-left: 0;
  padding-right: 10px;
}

ul a{
  color: black;
}
